@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Noto+Sans:wght@300&family=Quicksand:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
}

header {
   padding: 0rem 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 8rem;
   /* background-color: aqua; */
   position: relative;
}

.logo {
   height: 3rem;
   margin-left: 2rem;
}

.logo img {
   width: 100%;
   height: 100%;
}

.logo.logo-white img {
   filter: brightness(200%) contrast(129%) saturate(0%) blur(0px) hue-rotate(0deg);

}

.header-transparent nav>ul>li>a {
   color: white;
}

.header-transparent .dropdown-menu a {
   color: black;
}

.icon {
   display: none;
}


nav ul {
   display: flex;
   list-style: none;
   gap: 2rem;
}

nav>ul li a {
   text-decoration: none;
   font-size: 17px;
   color: black;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   transition-duration: 1s;
}

nav ul li a:hover {
   color: #B99A33;
}

.dropdown-menu {
   display: none;
   background-color: white;
}


nav ul li:hover .dropdown-menu {
   display: block;
   position: absolute;
   box-shadow: 0px 10px 15px -5px rgba(205, 203, 203, 0.91);
   border-radius: 15px 15px 15px 15px;
}

.dropdown-menu a {
   display: block;
   padding: 1rem;
   color: black;
}

.dropdown-menu a:first-child {
   border-top-right-radius: 1rem;
   border-top-left-radius: 1rem;
}

.dropdown-menu a:last-child {
   border-bottom-right-radius: 1rem;
   border-bottom-left-radius: 1rem;
}

.dropdown-menu a:hover {
   background: #B99A33;
   color: white;
}

.banner {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0rem 5rem;
   padding-top: 2rem;
}


.banner-container .heading {
   font-size: 4rem;
   text-align: left;
   font-family: 'Noto Sans', sans-serif;
   font-size: 80px;
   font-weight: 600;
   line-height: 5rem;
}

.titleimg {
   width: 52vw;
}


.titleimg img {
   width: 100%;
   height: 100%;
}

.banner-section {
   padding: 3rem;
}

.discreption {
   padding: 0rem 2rem;
}

.discreption p {
   max-width: 64%;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Noto Sans', sans-serif;
   font-size: 20px;
   font-weight: 500;
   padding: 7px 0px;

}

.btn button {
   font-size: 1.4rem;
   font-family: 'Noto Sans', sans-serif;
   border: 1px solid #B99A33;
   width: 20vw;
   padding: 1rem;
   border-radius: 2rem;
   margin: 2rem 0rem;
   background-color: white;
   max-width: 100%;

}

.btn button:hover {
   cursor: pointer;
}

/* slider section  */

* {
   box-sizing: border-box;
}

.mySlides {
   display: none;
}


/* Slideshow container */
.slideshow-container {

   position: relative;
   margin: auto;
}

/* The dots/bullets/indicators */
.dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}


.active {
   background-color: #B99A33;
}

/* Fading animation */
.fade {
   animation-name: fade;
   animation-duration: 1.5s;
   height: 100%;
}

@keyframes fade {
   from {
      opacity: .4
   }

   to {
      opacity: 1
   }
}



.sliders-content-box {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   margin: 4rem;
   /* border-radius: 5rem; */
   /* border: 1px solid red; */
   border-radius: 2rem;
   height: 100%;
   overflow: hidden;
   box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sliders-content-box .sliders-container {
   height: 100%;
}

.sliders-container img {
   height: 100%;
   object-fit: cover;
}


.sliders-content {
   padding: 0rem 3rem;
}

.sliders-content h2 {
   font-size: 3rem;
   font-family: 'Noto Sans', sans-serif;
   line-height: 1;
}

.sliders-content p {
   font-size: 1.6rem;
   margin-top: 12px;
   font-family: 'Noto Sans', sans-serif;
}

/* sliders section end  */

.container1 {
   /* display: flex; */
   padding: 2rem;

}

.content {
   display: flex;
}

.content-section {
   max-width: 50%;
   padding: 3rem 2rem;
}

.content-section h5 {

   font-family: 'Noto Sans', sans-serif;
   color: #B99A33;
   font-size: 22px;
   font-weight: 200;

}

.content-section h2 {
   font-family: 'Noto Sans', sans-serif;
   margin: 1rem 0rem;
   font-size: 3.6rem;
   font-weight: 600;
}

.content-section p {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Noto Sans', sans-serif;
   width: 100%;
   font-size: 1.5rem;
}


.content-img {
   height: auto;
   max-width: 100%;
}

.content-img img {
   height: auto;
   max-width: 100%;
   border-radius: 2rem;
   box-shadow: 0 0.5rem 0.50rem 0.20rem rgb(194, 189, 189);
}

.container2 {
   padding: 5rem;
}

.committed h2 {
   font-size: 80px;
   max-width: 75%;
   font-family: 'Noto Sans', sans-serif;
   line-height: 5rem;
   margin: 3rem;
}


.committed-para {
   display: flex;
   gap: 20rem;
}


.committed-para p {
   font-size: 1.6rem;
}

/* committed section end */

/* section 5 start  */


.grid-container {
   margin: 3.8rem;
}

.grid-container h2 {
   font-size: 3.3rem;
   margin: 0.2rem;
   font-family: 'Noto Sans', sans-serif;
   /* max-width: 50%; */

}

.grid-box-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 3rem;
   margin: 2rem 0rem;
}

.grid-box img {
   border-radius: 30px 30px 30px 30px;
}

.grid-box img {
   height: 100%;
   width: 100%;
}

.grid-box {
   position: relative;
}

.layers {
   display: flex;
   flex-direction: column;
   gap: 2.2rem;
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   background: #554d4d5c;
   backdrop-filter: blur(5px);
   border-radius: 30px 30px 30px 30px;
   color: white;
   padding: 2rem;
   opacity: 0;
   transition: opacity 1s ease-out;
   /* display: none; */
}

.layers:hover {
   opacity: 1;
}


.layers-body {
   font-family: 'Quicksand', sans-serif;
   font-weight: 100;
   font-size: 1.5rem;

}

.layers h2 {
   font-size: 2.5rem;
   line-height: 1.1;
   /* margin: 2rem 0rem; */
}

.layers p {
   font-size: 20px;
   font-family: 'Quicksand', sans-serif;
   /* margin: 3rem 0rem ; */
}


/* footer  */

.footer-section {
   background-image: linear-gradient(to top right, rgba(116, 112, 112, 0), rgba(104, 100, 100, 0.859));
   color: white;
   font-size: 1.6rem;
   font-family: 'Quicksand', sans-serif;
}

.footer-panel {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 4rem;

}

.footer-panel1 {
   display: grid;
   gap: 18rem;
}


.panel2 ul a {
   display: block;
   text-decoration: none;
   color: white;
   margin: 10px 0px;
}

/* our story  */

header.header-transparent {
   position: absolute;
   width: 100%;
   z-index: 1;
}

nav.whitenav ul li a {
   color: white;
}

.vedio-as-background {
   position: relative;
}

.list {
   position: absolute;
   bottom: 8rem;
   left: 4rem;
}

.list ul {
   color: white;
   font-size: 6rem;
}

.list ul li {
   list-style: none;
}

.double-heading-paragraph {
   display: grid;
   max-width: 64%;
   margin-top: 7rem;
   /* padding-top: rem; */
   padding-left: 4rem;
   gap: 1rem;
}

.first-heading h5 {
   font-size: 1.4rem;
   color: #B99A33;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 500;
}

.second-heading h2 {
   font-family: 'Noto Sans', sans-serif;
   font-size: 3.5rem;
   line-height: 1;
   font-weight: 600;
}

.content-para p {
   margin-top: 1rem;
   font-size: 1.3rem;
   font-family: 'Noto Sans', sans-serif;


}

.icon-content-container {
   display: grid;
   grid-template-columns: 40% 57%;
   margin-top: 4rem;
   padding: 1rem;
}

.icon-container {
   display: grid;
   margin-right: 0;
   text-align: center;
}

.icon-container .icon-boxes {
   display: grid;
   justify-items: center;
   align-items: center;
   margin-bottom: 1rem;
}

.icon-container img {
   width: 50%;

}

.icon-boxes h4 {
   font-size: 1.5rem;
   /* text-align: center; */
   color: #B99A33;
   font-weight: 100;
}

.content-detail h2 {
   font-family: 'Noto Sans', sans-serif;
   font-size: 5.2rem;
   line-height: 1;
}

.content-detail p {
   font-family: 'Noto Sans', sans-serif;
   font-size: 1.3rem;
   margin-top: 1rem;
}

.btn-our-story button {
   font-size: 1.4rem;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 200;
   border: 1px solid #B99A33;
   padding: 0.3rem 1.5rem;
   border-radius: 2rem;
   margin: 2rem 0rem;
   background-color: white;
}

.icon-boxes {
   position: relative;
   opacity: 1;
   transition-duration: .5s;
}

.content-layer {
   position: absolute;
   max-width: 77%;
   opacity: 0;
   text-align: left;

}

.content-layer p {
   font-size: 1.4rem;
   font-family: 'Noto Sans', sans-serif;
}

.icon-boxes:hover .content-layer {
   opacity: 1;
   transition-duration: .5s;
}

.icon-boxes:hover .icon-box-content {
   opacity: 0;
   transition-duration: .5s;
}

.vision-section {
   padding: 3rem 0rem 3rem 3.5rem;
}

.vision-content {
   display: grid;
   gap: 1rem;
   /* max-width: 70%; */
}

.vision-content h5 {
   font-size: 1.4rem;
   color: #B99A33;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 500;

}

.vision-content h2 {
   font-family: 'Noto Sans', sans-serif;
   font-size: 3.3rem;
   line-height: 1;
   font-weight: 600;
   max-width: 74%;
}

.vision-content p {
   margin-top: 1rem;
   font-size: 1.3rem;
   font-family: 'Noto Sans', sans-serif;
   max-width: 65%;

}

.mission-section {
   padding: 0rem 4rem;
   margin-top: 3rem;
   padding-bottom: 3rem;
}


.mission-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.our-mission-heading-box {
   display: grid;
   gap: 1rem;
}

.our-mission-heading-box h5 {
   font-size: 1.4rem;
   color: #B99A33;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 500;
}

.our-mission-heading-box h2 {
   font-family: 'Noto Sans', sans-serif;
   font-size: 3.3rem;
   line-height: 1;
   font-weight: 600;
   max-width: 80%;

}

.our-mission-content-box {
   display: grid;
   align-items: center;
   margin-left: 2rem;
   padding: 1rem;
}

.our-mission-content-box p {
   margin-top: 1rem;
   font-size: 1.3rem;
   font-family: 'Noto Sans', sans-serif;
}

/* responsive */


@media screen and (max-width: 991px) {
   .logo img {
      width: auto;
   }

   .icon {
      display: block;
   }

   .search-icon {
      display: none;
   }

   nav.topnav ul {
      display: none;
      gap: 0.5rem;
   }

   nav ul li a,
   nav ul ul li a {
      display: block;
      width: 100%;
   }

   nav.topnav.responsive ul {
      border-radius: 1rem;
   }

   nav.topnav.responsive ul ul {
      position: static;
      display: none;
   }

   nav.topnav.responsive ul ul {
      padding: 0;
   }

   nav.topnav.responsive ul a {
      padding: 0.5rem 1.2rem;
   }

   nav.topnav.responsive ul:hover ul {
      display: block;
   }


   nav.topnav.responsive ul:hover ul li {
      padding: 0.8rem;

   }

   nav.topnav.responsive {
      width: 100%;
   }


   nav.topnav.responsive .icon {
      position: relative;
      text-align: end;
   }

   nav.topnav.responsive ul {
      display: grid;
      /* padding: 1rem; */
      /* gap: 1rem; */
      text-align: left;
      position: absolute;
      width: 100%;
      left: 0;
      background: white;
      top: 100%;
      font-size: 1.5rem;
   }

   .active-black a {
      background-color: black;
   }

   .header-transparent nav.topnav.responsive li.active-black a {
      color: white;
   }

   .logo {
      height: 4rem;
      margin: 0;
   }

   .banner {
      padding: 0rem 3rem;
   }

   .banner-container .heading {
      font-size: 3.8rem;
   }

   nav.topnav.responsive .dropdown-menu {
      padding: 0rem;
   }

   nav ul li:hover .sub-menu {
      width: 100%;
   }

   .banner-section {
      padding: 1rem;
   }

   .discreption p {
      max-width: 100%;
      font-size: 18px;
      padding: 4px 0px;
   }

   .sliders-content-box {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 2rem;
      padding: 3.5rem;
   }

   .sliders-container img {
      object-fit: cover;
   }

   .sliders-content {
      padding: 0rem;
   }

   .sliders-content h2 {
      font-size: 2rem;
      margin-top: 4rem;
   }

   .sliders-content p {
      font-size: 1.3rem;
      margin-top: 1.3rem;
   }

   .sliders-content .btn button {
      width: 30vw;
      margin: 1.5rem 0rem;
      font-size: 1.2rem;
   }

   .container2 {
      padding: 0rem;
   }

   .committed h2 {
      margin: 2rem;
      max-width: 100%;
      font-size: 66px;
      line-height: 1;
   }

   .committed-para p {
      text-align: justify;
      font-size: 1.4rem;
   }

   .layers {
      padding: 1rem;
   }

   .layers h2 {
      font-size: 1.3rem;
      margin: 0rem;
   }

   .layers p {
      font-size: 18px;
      margin: 0rem;
   }

   .footer-panel {
      padding: 1rem;
      padding-top: 3rem;
   }

   /* our story responsive */
   .header-transparent nav.topnav.responsive ul li a {
      color: black;
   }

   .double-heading-paragraph {
      margin-top: 7rem;
      padding-left: 1rem
   }

   .second-heading h2 {
      font-size: 2.6rem;
   }

   .content-detail h2 {
      font-size: 3.5rem;
   }

   .content-detail p {
      font-size: 1.1rem;
   }

   .vision-section {
      padding-left: 0.5rem;
   }

   .vision-content h2 {
      font-size: 2.4rem;
   }

   .vision-content {
      display: grid;
      gap: 0.5rem;
   }

   .mission-section {
      padding: 0rem 1rem;
      padding-bottom: 3rem;
   }

   .mission-content {
      grid-template-columns: repeat(1, 1fr);
   }

   .our-mission-heading-box h2 {
      font-size: 2.6rem;
      max-width: 100%;
   }

   .our-mission-content-box {
      margin-left: 0rem;
      padding: 0rem;
   }
}

@media only screen and (max-width: 767px) {
   .banner {
      padding: 0rem 3rem;
      padding-top: 3rem;
   }

   .banner-container .heading {
      font-size: 3rem;
      line-height: 1.3;
   }

   .discreption p {
      font-size: 1rem;
      padding: 0.6rem 0rem;
   }

   .discreption .btn button {
      width: 27vw;
   }

   .sliders-content-box {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 1rem;
      padding: 0rem;
   }

   .sliders-content {
      padding: 0rem 2rem;
   }

   .sliders-content h2 {
      font-size: 2rem;
   }

   .sliders-content p {
      font-size: 1.1rem;
      margin-top: 15px;
   }

   .sliders-content .btn button {
      max-width: 100%;
      width: 35vw;
      margin: 1.5rem 0rem;
      font-size: 1.2rem;
   }

   .content-img img {
      height: 388px;
   }

   .container1 {
      padding: 0rem;
   }

   .content-img {
      padding: 0rem 2rem;
   }

   .content-section h5 {
      font-size: 18px;
   }

   .content-section h2 {
      line-height: 1;
      font-size: 2rem;
   }

   .content-section p {
      font-size: 1.2rem;
      text-align: justify;
   }

   .committed h2 {
      font-size: 3rem;
      margin: 4rem 1rem;
   }

   .committed-para {
      display: block;
      margin: 1rem;
   }

   .committed-para p {
      font-size: 1.2rem;

   }

   .committed-para .btn button {
      width: 35vw;
   }

   .grid-container {
      margin: 1rem;
   }

   .grid-box-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   .grid-container h2 {
      font-size: 2rem;
   }

   .grid-box {
      height: 400px
   }

   .grid-box img {
      object-fit: cover;
   }

   .layers {
      padding: 2rem;
   }

   .layers h2 {
      font-size: 3rem;
   }

   .layers p {
      font-size: 20px;
      margin: 1rem 0rem;
   }

   .footer-section {
      font-size: 1.3rem;
   }

   /* our story responsive */

   .list {
      bottom: 1rem;
      left: 1rem;
   }

   .list ul {
      display: flex;
      font-size: 3.2rem;
   }

   .double-heading-paragraph {
      max-width: 100%;
   }

   .second-heading h2 {
      font-size: 2rem
   }

   .content-para p {
      font-size: 1.2rem;
   }

   .vedio-as-background video {
      height: 100vh;
      object-fit: cover;
   }

   .icon-content-container {
      display: grid;
      grid-template-columns: auto;
      gap: 2rem;
   }

   .icon-container {
      display: grid;
      gap: 7rem;
      margin: 0rem;
   }

   .icon-container img {
      width: 100%;
   }

   .content-detail h2 {
      font-size: 2.4rem;
   }

   .vision-content h2 {
      max-width: 82%;
      font-size: 2rem;
   }

   .vision-content p {
      text-align: justify;
      max-width: 84%;
   }

   .our-mission-heading-box h2 {
      font-size: 1.9rem;
   }
   .our-mission-content-box p {
      font-size: 1.1rem;
}


@media only screen and (max-width: 575px) {
   .btn button {
      padding: 0.2rem;
   }

   .content-img {
      padding: 0rem 0.6rem;
   }

   .footer-panel {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
   }

   .vedio-as-background video {
      height: 100vh;
      object-fit: cover;
   }

   .list {
      left: 2rem;
   }

   .list ul {
      display: block;
   }

}

@media only screen and (max-width: 414px) {
   .titleimg img {
      display: none;
   }

   header {
      padding: 0rem 1rem;
   }

   .logo {
      height: 2rem;
   }

   .banner {
      display: block;
      padding: 3rem 1rem;
   }

   .discreption {
      padding: 0rem;
   }

   .discreption .btn button {
      width: 40vw;
   }

   .sliders-content {
      padding: 0rem 1rem;
   }

   .sliders-content .btn button {
      width: 58vw;
      margin-bottom: 4rem;
   }

   .sliders-content p {
      margin-top: 33px;
   }

   .content-section {
      padding: 3rem 1rem;
   }

   .content-section .btn button {
      width: 60vw;
   }

   .committed h2 {
      font-size: 2.9rem;
      margin: 4rem 0.6rem;
   }

   .layers p {
      margin: 0rem;

   }

   .content-layer {
      min-width: 100%;
   }

   .content-layer p {
      font-size: 1.2rem
   }
}

@media only screen and (max-width: 375px) {
   .layers p {
      font-size: 1rem;
   }

   .layers h2 {
      font-size: 2rem;
   }
}

@media only screen and (max-width:1000px) {
   .mySlides .fade img {
      object-fit: cover;
   }

   .content {
      display: grid;
      grid-template-columns: repeat (1, fr);
   }

   .content-img img {
      width: 100%;
      height: 388px;
      box-shadow: none;
      object-fit: cover;
   }

   .content-section {
      max-width: 100%;
   }

   .content-section .btn button {
      width: 55vw;
      font-size: 1.2rem;
   }
}